@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-red-650: #ce1231;
  --color-red-150: #fde2e4;
  --color-red-505: #ef4444;
  --color-red-105: #fee2e2;
  --color-gray-150: #ebeef1;
  --color-gray-450: #858e9c;
  --color-gray-505: #6b7280;
  --color-gray-750: #2c3542;
  --color-gray-901: #0f131a;
}
